* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.body {
    overflow: hidden;
}

.sidebar {
    width: 2.5rem;
    height: 100vh;
    background-color: black;
}

.mybtn {
    border: none;
    border-radius: 0rem;
    background: none;
    padding: .4rem .5rem;
    color: #fff;
}

.tooltip-arrow {
    display: none !important;
    /*border-top-color: transparent !important;*/
}

.tooltip-inner {
    padding: .6rem 1rem;
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 5px #000000;
}


.mybtn:hover {
    background: #ffffff32;
    color: #fff;
}

.mybtn i {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
    background-color: #ffffff32;
}

input {
    background-color: #ffffff35 !important;
    color: #fff !important;
    border: none !important;
}

input::placeholder {
    color: #fff !important;
}

.input-group span {
    background-color: #ffffff35 !important;
    border: none !important;
    color: #fff !important;
}

.dropdown-menu {
    min-width: 12rem;
    right: 0rem !important;
}

.dropdown-item {
    padding: .5rem;

}
.dropstart:hover > .dropdown-menu{
    position: absolute;
    top: 0;
    right: 100% ;
  }
.user{
    /* left: -8rem !important; */
    width: 20rem;
}


@media screen and (min-width:950px) {
    .dropdown .dropdown-menu{
        display: none;
        right: 0rem;
      }
      
      .dropstart .dropdown-menu{
        display: none;
      }
      .dropdown:hover > .dropdown-menu, .dropstart:hover > .dropdown-menu{
        display: block;
        margin-top: .125em;
        margin-left: .125em;
      }
      .dropstart:hover > .dropdown-menu{
        position: absolute !important;
        top: 0;
        right: 100% !important;
      }
      .dropdown:focus > .dropdown-menu {
        display: block !important;
        margin-top: 0.125em;
        margin-left: 0.125em;

    }

}

@media screen and (max-width:950px) {
    .dropdown-menu {
        min-width: 20rem;
    }

    .Firsthover {
        flex-wrap: wrap !important;
    }

    .starter {
        flex-direction: column;

    }

    .navbar-nav .nav-item {
        border: 0rem !important;
    }

    .input-group {
        width: 90%;
        margin: 0rem !important;
    }
}