* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.sidebar {
    width: 2.5rem;
    height: 100vh;
    background-color: black;
}

.sidebar2 {
    background-color: rgb(8, 71, 127);

}

.sidebar3 {
    right: 0rem !important;
}

.tooltip-arrow {
    display: none !important;
    /*border-top-color: transparent !important;*/
}

.tooltip-inner {
    padding: .6rem 1rem;
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 5px #000000;
}



.mybtn {
    border: none;
    border-radius: 0rem;
    background: none;
    padding: .4rem .5rem;
    color: #fff;
}

.mybtn:hover {
    background: #ffffff32;
    color: #fff;
}

.mybtn i {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link:hover {
    background-color: #ffffff32;
}

input {
    background-color: #ffffff35 !important;
    color: #fff !important;
    border: none !important;
}

input::placeholder {
    color: #fff !important;
}

.input-group span {
    background-color: #ffffff35 !important;
    border: none !important;
    color: #fff !important;
}

.main-container {
    padding-top: 2.5rem !important;
}

.dropdown-menu {
    min-width: 14rem;
}

.dropdown-item {
    padding: .5rem;

}





@media screen and (min-width: 769px) {
    .dropdown .dropdown-menu{
        display: none !important;
      }
      .dropstart .dropdown-menu{
        display: none !important;
      }
    
    .dropdown:hover > .dropdown-menu,
    .dropstart:hover > .dropdown-menu {
        display: block !important;
        margin-top: 0.125em;
        margin-left: 0.125em;
    
    }
    
    .dropstart:hover > .dropdown-menu {
        position: absolute !important;
        top: 0 !important;
        right: 100% !important;
    }

    .dropdown:focus > .dropdown-menu {
        display: block !important;
        margin-top: 0.125em;
        margin-left: 0.125em;

    }

}
@media screen and (max-wdith: 300px) {

     .dropstart:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        right: 1%;
    }
}